// Generated Theme Variables

$primitives: (
  "Primary": (
    "50": #F7FCFB,
    "100": #E5F5F1,
    "200": #D8F0EA,
    "300": #C6EAE1,
    "400": #BBE5DB,
    "500": #AADFD2,
    "600": #9BCBBF,
    "700": #799E95,
    "800": #5E7B74,
    "900": #475E58,
  ),
  "Secondary": (
    "50": #EBF9F6,
    "100": #BFEDE4,
    "200": #A1E4D7,
    "300": #76d7c5,
    "400": #5bd0ba,
    "500": #32c4a9,
    "600": #2eb29a,
    "700": #248b78,
    "800": #1c6c5d,
    "900": #155247,
  ),
  "Red": (
    "50": #F9EEEB,
    "100": #F3DDD8,
    "200": #E6B7AD,
    "300": #DA9586,
    "400": #CE735F,
    "500": #BE523A,
    "600": #98422F,
    "700": #713123,
    "800": #4A2017,
    "900": #27110C,
  ),
);

$light-theme: (
  "Surface-primary": #AADFD2,
  "Surface-main": #F7FCFB,
  "Surface-secondary": #32c4a9,
  "Surface-disabled": #bbb,
  "Border-subtle": #5bd0ba,
  "Border-default": #BBE5DB,
  "Border-darken": #9BCBBF,
  "Border-disabled": #76d7c5,
  "Text-title": #212121,
  "Text-body": #212121,
  "Text-disabled": #bbb,
  "Text-primary": #AADFD2,
  "Text-secondary": #32c4a9,
  "Text-negative": #fff,
  "Decorative-line01": #F0F0F0,
  "Decorative-line02": #8F98A1,
  "Decorative-line03": #028987,
  "Decorative-block01": #EF979D,
  "Decorative-block02": #D1AB86,
);

$dark-theme: (
  "Surface-primary": #AADFD2,
  "Surface-main": #131313,
  "Surface-secondary": #32c4a9,
  "Surface-disabled": #bbb,
  "Border-subtle": #5bd0ba,
  "Border-default": #BBE5DB,
  "Border-darken": #9BCBBF,
  "Border-disabled": #76d7c5,
  "Text-title": #fff,
  "Text-body": #fff,
  "Text-disabled": #bbb,
  "Text-primary": #AADFD2,
  "Text-secondary": #32c4a9,
  "Text-negative": #000,
  "Decorative-line01": #F0F0F0,
  "Decorative-line02": #8F98A1,
  "Decorative-line03": #028987,
  "Decorative-block01": #EF979D,
  "Decorative-block02": #D1AB86,
);

@mixin generate-theme-vars($theme-name) {
  $theme: if($theme-name == "light", $light-theme, $dark-theme);
  @each $key, $value in $theme {
    --#{$key}: #{$value};
  }
}
