/*
Error: Invalid CSS after "  @include theme": expected "}", was ".generate-theme..."
        on line 14 of main.scss

9: 
10: 
11: 
12: // Apply theme variables
13: :root {
14:   @include theme.generate-theme-vars("light");
15: 
16:   &[data-theme='dark'] {
17:     @include theme.generate-theme-vars("dark");
18:   }
19: }

Backtrace:
main.scss:14
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:1278:in `expected'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:1208:in `expected'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:679:in `block'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:696:in `block_child'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:41:in `parse'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/engine.rb:414:in `_to_tree'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/bin/sass:13:in `<top (required)>'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/sass:23:in `load'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/sass:23:in `<main>'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/ruby_executable_hooks:24:in `eval'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  @include theme\": expected \"}\", was \".generate-theme...\"\A         on line 14 of main.scss\A \A 9: \A 10: \A 11: \A 12: // Apply theme variables\A 13: :root {\A 14:   @include theme.generate-theme-vars(\"light\");\A 15: \A 16:   &[data-theme='dark'] {\A 17:     @include theme.generate-theme-vars(\"dark\");\A 18:   }\A 19: }"; }
