/*
Error: Invalid CSS after "  font-family: map": expected ";", was ".get($fonts, pr..."
        on line 26 of main.scss

21:   width: 100%;
22:   height: 100%;
23: }
24: 
25: body {
26:   font-family: map.get($fonts, primary);
27:   color: var(--Text-body);
28:   line-height: 1.6;
29:   transition: background-color 0.3s ease, color 0.3s ease;
30: }
31: h1 {

Backtrace:
main.scss:26
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:1278:in `expected'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:1208:in `expected'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:804:in `block in try_declaration'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:1254:in `rethrow'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:809:in `try_declaration'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:732:in `declaration_or_ruleset'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:697:in `block_child'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:678:in `block'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:696:in `block_child'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/scss/parser.rb:41:in `parse'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/engine.rb:414:in `_to_tree'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
/Users/saerts/.rvm/gems/ruby-2.5.1/gems/sass-3.6.0/bin/sass:13:in `<top (required)>'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/sass:23:in `load'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/sass:23:in `<main>'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/ruby_executable_hooks:24:in `eval'
/Users/saerts/.rvm/gems/ruby-2.5.1/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  font-family: map\": expected \";\", was \".get($fonts, pr...\"\A         on line 26 of main.scss\A \A 21:   width: 100%;\A 22:   height: 100%;\A 23: }\A 24: \A 25: body {\A 26:   font-family: map.get($fonts, primary);\A 27:   color: var(--Text-body);\A 28:   line-height: 1.6;\A 29:   transition: background-color 0.3s ease, color 0.3s ease;\A 30: }\A 31: h1 {"; }
