---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
import Divider from "../components/Divider.astro";
import Socials from "../components/Socials.astro";
---

<Layout 
    title="Contact | Naturderma" 
    description="Neem contact met ons op voor vragen over onze hypoallergene sieraden"
>
    <main class="main-container">
        <h1 class="animate-in">Contact</h1>
        <Divider variant="line01"/>
        <div class="contact-info animate-in" style="animation-delay: 0.2s">
            <p class="contact-intro">
                Voor vragen of informatie over onze producten of distributie, neem gerust contact met ons op via e-mail:
                <Button variant="text" href="mailto:info@naturderma.be" class="email-link">info@naturderma.be</Button>
            </p>
            <Socials />
        </div>
    </main>
</Layout>

<style lang="scss">
    @use 'sass:map';
    @use '../styles/_partials/_variables' as *;
    

    .contact-info {
        margin-bottom: map.get($spacing, "2xl");
    }

    .contact-intro {
        font-size: map.get($font-size, "M");
        color: var(--text-secondary);
        line-height: 1.6;
    }
    
</style> 
