---

---
<footer>
    <div class="footerContainer">
        Copyright (c) 2025 All Rights Reserved
    </div>
</footer>

<style>
    footer {
        background-color: var(--bg-primary);
        color: var(--text-primary);
        max-height: 150px;
        padding: 2rem;
        text-align: center;
    }
</style>
