---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.scss";

interface Props {
    title: string;
    description?: string;
    image?: string;
}

const {title, description = "Spaans hypoallergeen sieradenmerk", image = "assets/naturderma-logo.png"} = Astro.props
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={description}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <meta property="og:image" content={image}/>
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="frame">
    <Header/>
    <main>
        <slot/>
    </main>
    <Footer/>
</div>
</body>
</html>

<style>

    .frame {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 150px 1fr 150px;

        .main {
            height: 100%;
            background: var(--bg-primary);
        }
    }
</style>
